.Rproj.user

.RData

.Rhistory

ridgefield-2022.Rproj

*.html

*.docx

*.txt

*.tmp

*.zip

*.kml

*.png

*.pdn

*.geojson

/Ridgefield-geostatistics-using-gstat_files/*

/kml_files/*

/calculate-slope-parameters_files/*
